<!DOCTYPE html>
{% extends "blog/blog_base.html" %}

{% block title %}
    DISCUSS | Log in
{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1 style="text-align: center;">Log in</h1>
    <br>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <input type="submit" class="btn btn-dark form-control" value="Log in">
        {% if message %}
            <p style="text-align: center; color: red;">
                <br>
                {{message}}
            </p>
        {% endif %}
        <br><br>
        <a href="{% url 'signup' %}">New here? Sign up</a>
        <!-- <a class="float-right" href="#">Forgot password?</a> -->
      </form>
</div>
{% endblock %}